<h1>Uploaded Data Schema</h1>
<table id="uploadedSchema" class="table table-striped table-bordered dataTable table-hover table-highlight table-checkable">
  <thead>
      <tr>
        <th style="width: 250px">Column Name</th>
        <th style="width: 250px">Type</th>
        <th>Null</th>
        <th>Unique</th>
        <th style="width: 90px">Action</th>
      </tr>
  </thead>
  <tbody>
    <% if @uploadedSchema.size > 0 then %>
   
        <% @uploadedSchema.each do |schema| %>
          <tr>
            <td>
            	 <div class="form-group" style="margin-bottom: 0;">				   
				    <input type="text" class="form-control" value="<%= schema[:Field] %>">
				 </div>
            </td>
            <td>
            	<div class="form-group" style="margin-bottom: 0;">
            		<select class="form-control">
					  <option <%= ((schema[:Type]).include? "varchar")?"selected":"" %>>string</option>
					  <option <%= ((schema[:Type]).include? "int")?"selected":""%> >integer</option>
					  <option <%= ((schema[:Type]).include? "decimal")?"selected":""%> >decimal</option>
					  <option <%= ((schema[:Type]).include? "datetime")?"selected":"" %> >datetime</option>
					  <option <%= ((schema[:Type]).include? "boolean")?"selected":"" %> >boolean</option>
					</select>
            	</div>            	
            </td>
            <td><%= schema[:Null] %><input  type="text" style="display: none"/></td>
            <td>
              <% if schema[:Key] == "UNI" then %>
                UNIQUE <input  type="text" style="display: none"/>
              <% else %>
                <%= schema[:Key] %> <input  type="text" style="display: none"/>
              <% end %>
            </td>
            <td>
            	<div  >
            		<button type="button" class="btn btn-sm btn-primary">Edit</button>
            		<button type="button" class="btn btn-sm btn-danger">Delete</button>
            	</div>
            </td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<%= javascript_include_tag('datauploaders.js') %>