<h2>Upload CSV for Data Analytics</h2>
<div id="dropzone" class="fade">Drop files here</div>
<%= form_tag fileuploadtoamazon_datauploaders_path, :remote: true, multipart: true, id: 'uploadForm' do %>	
    <div class="row"><div class="col-sm-3"><%= file_field_tag :file %></div>
    <!-- <div class="col-sm-6"><%= submit_tag "Upload CSV", class:"btn btn-sm btn-primary" %></div> --></div>
    <div class="progress-wrapper">
    <p>Bitrate: <span class="bitrate"></span></p>
    <div class="progress">
      <div class="progress-bar" role="progressbar">
        0%
      </div>
    </div>
  </div>  
<% end %>
<div id="div_loading_window" class="modal fade in" style="width: 100% !Important; overflow-y: hidden; height: 100% !Important;">
  <%= image_tag("ajax-loader.gif", :class => "modal-dialog") %>
  <div class="modal-body">
    <p>Please wait while upload is in progress!!!!!</p>
  </div>
</div>
<%= javascript_include_tag('datauploaders.js') %>