<h2>Upload CSV for Data Analytics</h2>
<div id="dropzone" class="fade">Drop CSV here</div>
<h3>OR</h3>
<%= form_tag fileuploadtoamazon_datauploaders_path, remote: true, multipart: true, id: 'uploadForm' do %>	
    <div class="row"><div class="col-sm-4"><span><label style="float: left; margin-right: 10px; padding-top: 3px;">Select CSV file: </label><%= file_field_tag :file %><span></div>
    <!-- <div class="col-sm-6"><%= submit_tag "Upload CSV", class:"btn btn-sm btn-primary" %></div> -->
    </div>    
<% end %>
<div class="progress-wrapper">
    <p>Bitrate: <span class="bitrate"></span></p>
    <div class="progress">
      <div class="progress-bar" role="progressbar"> 0%
      </div>
    </div>
</div>  
<div id="div_loading_window" class="modal fade in" style="width: 100% !Important; overflow-y: hidden; height: 100% !Important;">
  <%= image_tag("ajax-loader.gif", :class => "modal-dialog", :style=>"margin: auto  !important; left: 45%  !important; top: 45%  !important; width: auto !important;") %>
  <div class="modal-body" style="color: #FF1919 !important; font-size: 20px !important; font-weight: bold !important; left: 35% !important; top: 45% !important; width: auto !important;">
   <p>Please wait while upload is in progress!!!!!</p>
  </div>
</div>
<div id="possibleMatch-model-popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" style="width: 650px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Please select a file for overwrite.</h4>
      </div>
      <div class="modal-body">
        <table id="uploadedSchema" class="table table-striped table-bordered dataTable table-hover table-highlight">
          <thead>
            <tr>              
              <th>Upload File</th>
              <th>Data Source</th>
              <th>Upload Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag('datauploaders.js') %>